# next configuration
NEXTAUTH_SECRET=sff48ew4f8e4fwe3hsadsa-asdasb1y5j4gfvb@dsfdsfds-dsadasdasdasdasd
AUTH_TRUST_HOST=true
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000
BASEPATH=3000

# database configuration
DB_DRIVER=postgresql
DB_HOST=localhost
DB_PORT=5432
DB_NAME=aulavirtual_db
DB_USERNAME=postgres
DB_PASSWORD=ne@eb5LiAZ4895sfasf4sfdf4+asd6dsadasdas233ef
DATABASE_URL="${DB_DRIVER}://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public"

# JWT (legacy - mantenido por compatibilidad)
JWT_SECRET=sff48ew4f8e4fwe3hsadsa-asdasb1y5j4gfvb@dsfdsfds-dsadasdasdasdasd

# SMTP / Mailer (Configuración para envío de correos)
SMTP_HOST='smtp.gmail.com'
SMTP_PORT=465
SMTP_USER='soporte.devrocket@gmail.com'
SMTP_PASS='arws nlvv jveh zals'
SMTP_FROM='"Fly" <soporte.devrocket@gmail.com>'

# Clave para cifrado de Server Actions (AES de 32 bytes en base64)
NEXT_SERVER_ACTIONS_ENCRYPTION_KEY=

# Culqi Suscripción
CULQI_PUBLIC_KEY=pk_live_...
CULQI_SECRET_KEY=sk_live_...

# Culqi Pago Único
CULQI_PRIVATE_KEY=sk_live_...        # mismo valor que CULQI_SECRET_KEY

# Culqi Webhook
CULQI_WEBHOOK_USER=culqi_wh
CULQI_WEBHOOK_SECRET=tu-contraseña-del-panel

#IziPay Pago Único
IZIPAY_API_KEY=

# Paypal Pago único
PAYPAL_CLIENT_SECRET=

# Mercado Pago Único
MP_ACCESS_TOKEN=

# domain configuration
SSL_EMAIL=
SSL_DOMAIN_1=
SSL_DOMAIN_2=

# Nginx Private Videos Secure Link configuration
NGINX_VIDEO_SECRET=your_nginx_secure_link_secret_here
NGINX_VIDEO_BASE_URL=http://localhost/private-videos

