# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL=http://localhost:3000
BASEPATH=3000

# database
DB_DRIVER='postgresql'
DB_HOST='localhost'
DB_PORT=5432
DB_NAME='aulavirtual'
DB_USER='aulavirtual'
DB_PASSWORD='ne@eb5LiAZ4895sfasf4sfdf4+asd6dsadasdas233ef'
DATABASE_URL="${DB_DRIVER}://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public"

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=sff48ew4f8e4fwe3hsadsa-asdasb1y5j4gfvb@dsfdsfds-dsadasdasdasdasd

# JWT (legacy - mantenido por compatibilidad)
JWT_SECRET=sff48ew4f8e4fwe3hsadsa-asdasb1y5j4gfvb@dsfdsfds-dsadasdasdasdasd

# SMTP / Mailer (Configuración para envío de correos)
SMTP_HOST='smtp.gmail.com'
SMTP_PORT=465
SMTP_USER='soporte.devrocket@gmail.com'
SMTP_PASS='arws nlvv jveh zals'
SMTP_FROM='"Fly" <soporte.devrocket@gmail.com>'

# Clave para cifrado de Server Actions (AES de 32 bytes en base64)
NEXT_SERVER_ACTIONS_ENCRYPTION_KEY=
