# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL=http://localhost:3000
INTERNAL_API_URL=http://localhost:3000
BASEPATH=3000

# Base de Datos PostgreSQL
DB_DRIVER='postgresql'
DB_HOST='localhost'
DB_PORT=5432
DB_NAME='aulavirtual'
DB_USER='aulavirtual'
DB_PASSWORD='ne@eb5LiAZ4895sfasf4sfdf4+asd6dsadasdas233ef'
DATABASE_URL="${DB_DRIVER}://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public"

# JWT — Generar con: openssl rand -base64 64
# IMPORTANTE: Deben ser DISTINTOS entre sí y nunca compartirse
JWT_SECRET='CAMBIAR_POR_SECRETO_UNICO_openssl_rand_base64_64'

# NextAuth — Generar con: openssl rand -base64 64
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET='CAMBIAR_POR_SECRETO_DIFERENTE_AL_JWT_SECRET_openssl_rand_base64_64'

# SMTP / Mailer (Configuración para envío de correos)
SMTP_HOST='smtp.gmail.com'
SMTP_PORT=465
SMTP_USER='tu-correo@gmail.com'
SMTP_PASS='tu-contraseña-de-aplicacion'
SMTP_FROM='"Aula Virtual" <tu-correo@gmail.com>'
